<h2 class="text-center">Converter</h2>
<div class="flex justify-center">
  <div class="mr-20">
    <select class="ml-auto mr-auto">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="PLN">PLN</option>
      <option value="GBP">GBP</option>
      <option value="UAH">UAH</option>
    </select>
    <input type="number" placeholder="0.0" class="border-b border-black block" />
  </div>
  <div>
    <select>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="PLN">PLN</option>
      <option value="GBP">GBP</option>
      <option value="UAH">UAH</option>
    </select>
    <input type="number" placeholder="0.0" class="border-b border-black block" />
  </div>
</div>
