<h2 class="text-center">Converter</h2>
<div class="flex justify-center">
  <div class="mr-20">
    <select (change)="firstCurrency($any($event.target).value)">
      [(ngModel)]="firstCurName">
      <option *ngFor="let currency of currencies" [value]="currency.name">
        {{ currency.name }}
      </option>
    </select>
    <input
      (input)="onFirstInput($any($event.target).value)"
      type="number"
      value="{{firstCurNumber | number}}"
      placeholder="1"
      class="border-b border-black block"
    />
  </div>
  <div>
    <select (change)="secondCurrency($any($event.target).value)">
      [(ngModel)]="secondCurName">
      <option *ngFor="let currency of currencies" [value]="currency.name">
        {{ currency.name }}
      </option>
    </select>
    <input
      (input)="onSecondInput($any($event.target).value)"
      type="number"
      value="{{secondCurNumber | number}}"
      placeholder="1"
      class="border-b border-black block"
    />
  </div>
</div>
